.allbackground{
    background-image: linear-gradient(to left bottom, #b2d30e, #61bc49, #00a066, #00816f, #006064, #136168, #21626c, #2c636f, #268894, #14aeb6, #00d6d5, #00ffef);
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
   
}


.flex-image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.allflex{
    margin: 25px;
}


.allflex h1{
    text-transform: capitalize;
    color: white;
}


.allflex img{
    object-fit: contain;
    
}